<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
  	<meta charset="UTF-8">
  	<title>Insert title here</title>
  </head>
  <body>
  
    <!-- Begin Indice -->
    <div th:fragment="_indice(indice)" class="indice card-container col-lg-6 col-sm-12" th:attr="data-indice=${indice.name()}">

      <!-- Begin Card -->
      <div class="card shadow mb-4">

        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="indice-title m-0 font-weight-bold text-primary" th:text="${indice.getTitre() + ' (' + indice.getAcronyme() + ')' + ' (' + indice.getUnite() + ')'}"></h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
        
            <!-- Indice Chart Container -->
            <div class="chart-container">
            
              <!-- Loader -->
              <div class="loader">
                <i class="fas fa-sun fa-5x fa-spin text-primary"></i>
                <span>Calculs en cours..</span>
              </div>
              
              <!-- Indice Chart -->
              <div class="chart"></div>
            </div>
            
            <!-- Indice Text -->
            <p class="text p-3 mt-2 mb-2 bg-light"></p>
        </div>
        
        
      </div>
      <!-- End Card -->
        
    </div>
    <!-- End Indice -->

  </body>
</html>